+template()
    +container()(style='width: 100%')
        +row()
            img(alt="header" src="https://vk.com/away.php?utf=1&to=https%3A%2F%2Fi.postimg.cc%2FprYyXqhq%2FEmail-template-New-task-awaits-you.png" width="600" style="width: 100%; height: auto")